<section class="content-header">
  <h1>
    404 Error Page
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">404 error</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-red">404</h2>
    <div class="error-content">
      <p><br></p>
      <h3><i class="fa fa-warning text-red"></i>  Page not found.</h3>
      <p>The page your are looking for does not exist.</p>
    </div>

  </div>
</section>