#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #AA3939;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  color: #fff;
  background-color: #AA3939;
  border: solid 2px #fff;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: lightgrey;
}

.resize-drag {
  display: inline-block;
  background-color: #AA3939;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  padding: 20px;
  margin: 30px 20px;
  min-width: 40px;

  /* This makes things *much* easier */
  box-sizing: border-box;
}
