<div class="wrapper">
  {{application-header}}
  {{application-sidebar}}
  <div class="content-wrapper">
    <section class="content">
      {{liquid-outlet}}
    </section>
  </div>
  {{application-footer}}
</div>