{{! T application }}
{{! no HTML here, save for wrapper and application-ui }}
<div class="wrapper">
  {{application-ui
    sidebarData=sidebarData
    boldTitleLogo='Ember'
    titleLogo='Admin'
    userName='John D.'
    footerPrimary='Layout Template'
    footerSecondary='Ember-made admin dashboard'
    footerVersion='0.5'
  }}
</div>
