{{! C date-picker }}
{{#if range}}
  <div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
  </div>
{{else}}
  {{input id="dpicker" type="text" class="form-control" name="start"}}
{{/if}}